# Dependencies
/vendor/
/node_modules/

# Environment and secrets
.env
.env.backup
.env.production
.env.local

# Logs and databases
*.log
*.sqlite
*.sqlite3

# OS metadata
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.user

# Next.js build output
.next/
out/

# Local SQLite databases
*.db
*.db-journal

# Temporary storage & build artifacts
/storage/*.key
/storage/logs/
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/dist/
/build/
*.phar
